@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Season 2018 - 2019</p>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Spieler</th>
            <th scope="col">Verein von</th>
            <th scope="col">Verein nach</th>
            <th scope="col">Marktwert</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>ads</td>
            <td>100</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>asdsad</td>
            <td>100</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>asdad</td>
            <td>100</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Jason</td>
            <td>James</td>
            <td>asdad</td>
            <td>100</td>
        </tr>
    </tbody>
</table>