@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eintracht Braunschweig</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">

</div>

<div class="row">
    <p></p>
    <div class="col-md-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Images/s1.jpg" alt="Card image cap" width="150" height="90">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="col-md-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Images/s3.jpg" alt="Card image cap" width="150" height="90">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="col-md-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Images/s2.jpg" alt="Card image cap" width="150" height="90">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="col-md-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Images/s3.jpg" alt="Card image cap" width="150" height="90">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="col-md-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Images/s2.jpg" alt="Card image cap" width="150" height="90">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="col-md-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Images/s1.jpg" alt="Card image cap" width="150" height="90">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>


